
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shered style */
.dark-1{
    color: #131313;
}
.dark{
    color: #424242;
}
.dark-3{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}


.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}
main > section{
    margin-top: 130px;
}
.bg-second{
    color: #FF900E;
}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 1.25rem 1.6rem;
    background-color: #FF900E;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 3.13rem;
}

/* header style */

/* nav style */
.navbar, .banner, .footer{
    max-width: 90rem;
    margin: 0 auto;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .brand{
    font-size: 3rem;
    font-weight: 700;
}

.navbar .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-items .nav-item{
    list-style: none;
}
.nav-item .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.banner-contant{
    max-width: 53.9rem;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    margin-bottom: 2rem;
}
.banner-img{
    width:100%;
}
/* main section start */
main{
    max-width: 90rem;
    margin: 0 auto;

}


/* teams section style start */

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-img img{
    width: 100%;
}
.teams-features{
    width: 33.6rem;
    margin-left: 4.6rem;
}
.features-title{
    font-size: 2.9rem;
}
.span-1{
    color: #727272;
    font-weight: 500;
}
.span-3{
    font-weight: 700;
}
.features-description{
    margin-bottom: 2rem;
}

/* fact-section style start */

.fact-title{
    font-size: 2.81rem;
    font-weight: 700;
}
.fact-description{
    width: 33.9rem;
    margin-bottom: 6.25rem;
}

/* fact-container style start */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7.8rem;
    text-align: center;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 2.5rem;
    margin: 2rem;
}
.fact-icon{
    width: 2.82rem;
    margin-bottom: -2.5rem;
}
.fact-num{
    margin-bottom: -1.5rem;
    font-size: 2.82rem;
    font-weight: 600;
}
.fact-name{
    color: #727272;
    font-size: 1.25rem;
}

/* sponsor section */

.sponsor-info{
    max-width: 33.9rem;
    margin: 50px auto;
    text-align: center;
    margin-bottom: 3.12rem;
}
.sponsor-title{
    font-weight: 700;
    font-size: 2.82rem;
}
.companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
.companys img{
    filter: grayscale(100%);
}

/* footer section */
.footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    margin-bottom: 150px;
    
}
.footer-contant{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    padding: 2.5rem;
}

@media screen and (max-width:600px) {
    .nav-items{
        flex-wrap: wrap;
    }
    .teams{
        flex-direction: column;
        
    }
    .teams-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-features{
        width: 80%;
        margin: 0 auto;
    }
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 0rem;
    }
    .fact-description{
        width: 100%;
        text-align: center;
    }
    .fact{
        margin: 4rem;
        
    }
    .fact-title{
        text-align: center;
    }
    .companys{
    grid-template-columns: repeat(1, 1fr);
    grid-area: 2rem;
    }
    .company-name{
        margin: 2rem;
    }
    .footer{
        margin-bottom: 0;
    }

}

@media screen and (min-width:600px) and (max-width:1000px){
    .teams{
        flex-direction: column;
    }
    .teams-features{
        width: 80%;
        margin: 0 auto;
    }
     .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        margin: 1rem;
        text-align: center;
    }
    .fact-description{
        width: 100%;
        /* margin: 16px; */
        text-align: center;
    }
    .fact-title{
        text-align: center;
    }
    .companys{
    grid-template-columns: repeat(2, 1fr);
    grid-area: 2rem;
    }
    .company-name{
        margin: 2rem;
    }
     .footer{
        margin-bottom: 0;
    }
}
@media screen and (min-width:1000px) and (max-width:1340px){
     .teams{
        flex-direction: column;
    }
    .fact-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        margin: 1rem;
        text-align: center;
    }
     .fact-description{
        width: 100%;
        /* margin: 16px; */
        text-align: center;
    }
    .fact{
        margin: 1rem;
        
    }
    .fact-title{
        text-align: center;
    }
    .companys{
    grid-template-columns: repeat(3, 1fr);
    grid-area: 2rem;
    }
    .company-name{
        margin: 2rem;
    }
     .footer{
        margin-bottom: 0;
    }
}

